In [3]:
#1
import pandas as pd
x=pd.Series([2,3,4,5,8])
print(x)

0    2
1    3
2    4
3    5
4    8
dtype: int64

In [4]:
#2
x=pd.Series([2,4,5,6,8])
print(x)
print(type(x))
print("convert to list")
print(x.tolist())
print(type(x.tolist()))

0    2
1    4
2    5
3    6
4    8
dtype: int64
<class 'pandas.core.series.Series'>
convert to list
[2, 4, 5, 6, 8]
<class 'list'>

In [5]:
#3
x1=pd.Series([2,4,6,8,20])
x2=pd.Series([3,5,7,9,21])
print("addition:")
print(x1+x2)
print("subtraction:")
print(x1-x2)
print("multiplication:")
print(x1*x2)
print("division:")
print(x1/x2)

addition:
0     5
1     9
2    13
3    17
4    41
dtype: int64
subtraction:
0   -1
1   -1
2   -1
3   -1
4   -1
dtype: int64
multiplication:
0      6
1     20
2     42
3     72
4    420
dtype: int64
division:
0    0.666667
1    0.800000
2    0.857143
3    0.888889
4    0.952381
dtype: float64

In [7]:
#4 relational operators
print(x1)
print(x2)
print("equals:")
print(x1==x2)
print("greater than")
print(x1>x2)
print("less than")
print(x1<x2)

0     2
1     4
2     6
3     8
4    20
dtype: int64
0     3
1     5
2     7
3     9
4    21
dtype: int64
equals:
0    False
1    False
2    False
3    False
4    False
dtype: bool
greater than
0    False
1    False
2    False
3    False
4    False
dtype: bool
less than
0    True
1    True
2    True
3    True
4    True
dtype: bool

In [8]:
#5
x3={'a':100,'b':200,'c':300}
new=pd.Series(x3)
print(new)

a    100
b    200
c    300
dtype: int64

In [9]:
#6
import numpy as np
array=np.array([10,20,30,40])
print(array)
new=pd.Series(array)
print(new)

[10 20 30 40]
0    10
1    20
2    30
3    40
dtype: int32

In [ ]:
#7